---
import Layout from "../layouts/Layout-Tahfidz.astro";
import { Icon } from "astro-icon";

const response = await fetch(
  "https://script.googleusercontent.com/macros/echo?user_content_key=MZfKkGdQBEFdKCjdcb4x2Ov4dsCWXeLN6BOMVwFzrHk_4z9HQNUT7UTKjxPLkqLPCoGMZxeTlnND19hEO3sR1iMnkNp8tpuSm5_BxDlH2jW0nuo2oDemN9CCS2h10ox_1xSncGQajx_ryfhECjZEnPrBvyQIiPth2zRqxm9DiudOGM2qHOQPqNKhZQJusW49W3WPkjLojobQeMppLV213Y9viWOJ0D8zcSIymzZtal2Tk_TWvf8_4dz9Jw9Md8uu&lib=MrDbxsf98l_3srDu_B9rPb2OuhS0OIjpl"
);
const data = await response.json();
const Deskripsi = data.Deskripsi;
const detailBank = data.DetailBank;
const Medsos = data.Medsos;

console.log(Medsos);

const linkClient = data.Button;
---

<Layout
  title="Tahfizh Makkah"
  size="cover"
  favicon="/C2Tm.webp"
  background="url('/vignet.webp')"
>
  <div class="flex flex-col p-5 mt-5 mb-8 items-center justify-center">
    <img src="/C2Tm.webp" alt="Logo C2TM" class="w-[15rem]" />
    <h1 class="text-3xl text-[#f7ab1b] font-bold mb-2">{Deskripsi.Header}</h1>
    <h2 class="text-xl text-[#f7ab1b] mb-4">{Deskripsi.Deskripsi}</h2>

    <div class="w-full max-w-md mx-auto">
      {
        linkClient.map(({ Keterangan, Url }) => (
          <a
            rel="dns-prefetch"
            href={Url}
            aria-label={Keterangan}
            class="flex flex-col text-center 
                  items-center justify-between  font-bold bg-[rgba(189,39,6,0.77)] text-white p-4 mb-2 rounded-2xl"
          >
            {Keterangan}
          </a>
        ))
      }
    </div>

    <div id="bank-numbers" class="w-full max-w-md mx-auto">
      {
        detailBank.map((bank, index) => (
          <div
            key={index}
            class="flex flex-col text-center gap-5 items-center justify-between bg-[rgba(189,39,6,0.77)] text-white py-6 mb-2 rounded-2xl"
          >
            <h4 class="font-bold text-[#f7ab1b] text-2xl">{bank.Norek}</h4>
            <p id={`norek-${index}`} class="font-semibold text-3xl md:text-4xl">
              {bank["Nama Bank"]}
            </p>

            <button
              id={`copy-button-${index}`}
              class="btn btn-sm border-0 bg-[#f7ab1b] px-5 text-white p-1"
            >
              Copy
            </button>
          </div>
        ))
      }
    </div>

    <div class="flex gap-4 mt-5">
      {
        Medsos.map(({ Media, Icons, Url }) => (
          <a
            rel="dns-prefetch"
            aria-label={Media}
            href={Url}
            target="_blank"
            rel="noopener"
          >
            <Icon
              name={Icons}
              class="w-8 h-8 text-[#8f181b] hover:text-white"
            />
          </a>
        ))
      }
    </div>
  </div>
</Layout>

<script define:vars={{ detailBank }}>
  document.addEventListener("DOMContentLoaded", function () {
    const banks = detailBank;
    console.log(banks);
    banks.forEach((bank, index) => {
      const button = document.getElementById(`copy-button-${index}`);
      button.addEventListener("click", function () {
        const norek = document.getElementById(`norek-${index}`).innerText;
        navigator.clipboard
          .writeText(norek)
          .then(() => {
            alert(`Norek ${bank["Nama Bank"]} berhasil disalin`);
          })
          .catch(() => {
            alert("Norek gagal disalin 😎");
          });
      });
    });
  });
</script>
