---
import { Icon } from "astro-icon";
---

<div class="collapse collapse-arrow mt-5">
  <input type="checkbox" />

  <h1
    class="collapse-title btn btn-block hover:scale-110 transition-transform duration-200"
  >
    Contact Us
  </h1>

  <div class="collapse-content bg-base-100 rounded-b-md text-center">
    <div class="p-5">
      <h2 class="text-2xl font-bold mb-2">BARKAH TRI BASUKI</h2>
      <h3 class="text-md font-medium mb-4">PT BANGLELE INDONESIA MAJU</h3>
      <ul class="space-y-3 font-semibold md:px-28 text-left">
        <li class="flex items-center space-x-4">
          <div>
            <Icon
              name="ic:sharp-alternate-email"
              class="w-8 md:w-8 lg:w-8 xl:w-8 2xl:w-8"
            />
          </div>
          <div>
            <a href="mailto:official@banglele.co.id" class="hover:underline">
              official@banglele.co.id
            </a>
          </div>
        </li>

        <li class="flex items-center space-x-4">
          <div>
            <Icon
              name="mdi:telephone"
              class="w-8 md:w-8 lg:w-8 xl:w-8 2xl:w-8"
            />
          </div>
          <div>
            <a href="tel:62819818001" class="hover:underline"> 62819818001</a>
          </div>
        </li>
        <li class="flex items-center space-x-4">
          <div>
            <Icon
              name="mdi:map-marker"
              class="w-8 h-8 md:w-8 md:h-8 lg:w-8 lg:h-8 xl:w-8 xl:h-8 2xl:w-8 2xl:h-8"
            />
          </div>
          <div>
            <a
              href="https://www.google.com/maps/dir//Jl.+Raya+Pandau+Permai,+Pandau+Jaya,+Kec.+Siak+Hulu,+Kabupaten+Kampar,+Riau+28284/@0.4271714,101.4597618,17z/data=!4m18!1m8!3m7!1s0x31d5a5bf88d5489d:0xdd6e3da1fa00a063!2sJl.+Raya+Pandau+Permai,+Pandau+Jaya,+Kec.+Siak+Hulu,+Kabupaten+Kampar,+Riau+28284!3b1!8m2!3d0.4271714!4d101.4597618!16s%2Fg%2F1pzrm4vkh!4m8!1m0!1m5!1m1!1s0x31d5a5bf88d5489d:0xdd6e3da1fa00a063!2m2!1d101.4597618!2d0.4271714!3e2"
              class="hover:underline"
            >
              Jl. Raya Pandau Permai, Blok A8 No. 7, Pandau Jaya, Siak Hulu,
              Riau, Indonesia, 28452
            </a>
          </div>
        </li>
        <li class="flex items-center space-x-4">
          <div>
            <Icon
              name="mdi:clock-time-eight-outline"
              class="w-8 md:w-8 lg:w-8 xl:w-8 2xl:w-8"
            />
          </div>
          <div><span> Monday-Friday, 08 Am - 17 Pm</span></div>
        </li>
      </ul>

      <button id="downloadVCard" class="btn btn-wide mt-5 gap-2">
        Save to Contact
        <Icon
          name="ic:outline-contact-page          "
          class="w-8 md:w-8 lg:w-8 xl:w-8 2xl:w-8"
        />
      </button>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("downloadVCard")
    .addEventListener("click", function () {
      const firstName = "BARKAH TRI";
      const lastName = "BASUKI";
      const companyName = "PT BANGLELE INDONESIA MAJU";
      const website = "https://qlm.one/banglele";

      const vCardData = 
`BEGIN:VCARD
VERSION:3.0
N:${lastName};${firstName};;;
ORG:${companyName}
URL:${website}
EMAIL:official@banglele.co.id
TEL;TYPE=CELL:62819818001
ADR;TYPE=WORK:;;Jl. Raya Pandau Permai, Blok A8 No. 7, Pandau Jaya, Siak Hulu, Riau, Indonesia, 28452
END:VCARD`;

      const vCardBlob = new Blob([vCardData], { type: "text/vcard" });
      const vCardURL = URL.createObjectURL(vCardBlob);
      const tempLink = document.createElement("a");
      tempLink.href = vCardURL;
      tempLink.setAttribute("download", `${companyName.toUpperCase()}.vcf`);
      tempLink.click();
    });
</script>
