---
export interface Props {
	name: string;
	src : string;
  tagline: string;
  tagline2: string;
}

const { name, src, tagline, tagline2} = Astro.props;
import "../styles/prince.css"

---
<div class="mx-auto w-fit text-center mt-12">
    <div class="avatar">
        <div class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
          <img src={src} alt={name}/>
        </div>
      </div>
      <h1 class="text-3xl text-transparent-black-50 font-bold" data-text={name}>{name}</h1>
<h2 class="text-xl  text-white font-bold" data-text={tagline}>{tagline}</h2>
<h3 class="text-md  text-transparent-black-20 font-bold" data-text={tagline2}>{tagline2}</h3>

</div>