---
export interface Props {
	title: string;
	favicon: string;
	theme: string;
	background: string;
	size: string;
	analitis: object;
	pixel: string;
}

const { title, favicon, theme, background, size, analitis, pixel } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Meta Pixel Code -->
<script define:vars={{ pixel }}>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', pixel);
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src=`https://www.facebook.com/tr?id=${pixel}&ev=PageView&noscript=1`
	/></noscript>

	<!-- End Meta Pixel Code -->
				<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon={analitis}></script><!-- End Cloudflare Web Analytics -->
	</head>
	<body>
		<slot />

	</body>
</html>
<style is:global define:vars={{ background, size}}>
:root {
	--bg-gradient-1: linear-gradient(45deg, #2c3e50 20%, #5B86E5 72%);
  --bg-gradient-2: linear-gradient(45deg, #4b6cb7 20%, #182848 72%);
  --bg-gradient-3: linear-gradient(45deg, #3C3B3F 20%, #605C3C 72%);
  --bg-gradient-4: linear-gradient(45deg, #0f2027 20%, #2c5364 72%);
  --bg-gradient-5: linear-gradient(45deg, #283048 20%, #859398 72%);
  --bg-gradient-6: linear-gradient(45deg, #396afc 20%, #2948ff 72%);
  --bg-gradient-7: linear-gradient(45deg, #0575E6 20%, #021B79 72%);
  --bg-gradient-8: linear-gradient(45deg, #3a7bd5 20%, #3a6073 72%);
  --bg-gradient-9: linear-gradient(45deg, #36D1DC 20%, #5B86E5 72%);
  --bg-gradient-10: linear-gradient(45deg, #4DA0B0 20%, #D39D38 72%);
  --bg-gradient-11: linear-gradient(45deg, #00B4DB 20%, #0083B0 72%);
  --bg-gradient-12: linear-gradient(45deg, #E1FFCE 20%, #FFEBB7 72%);
  --bg-gradient-13: linear-gradient(45deg, #56ab2f 20%, #a8e063 72%);
  --bg-gradient-14: linear-gradient(45deg, #2ecc71 20%, #27ae60 72%);
  --bg-gradient-15: linear-gradient(45deg, #9D50BB 20%, #6E48AA 72%);
  --bg-gradient-16: linear-gradient(45deg, #ff6e7f 20%, #bfe9ff 72%);
  --bg-gradient-17: linear-gradient(45deg, #16222A 20%, #3A6073 72%);
  --bg-gradient-18: linear-gradient(45deg, #F2994A 20%, #F2C94C 72%);
  --bg-gradient-19: linear-gradient(45deg, #4B79A1 20%, #283E51 72%);
  --bg-gradient-20: radial-gradient(circle, #3C3B3F 20%, #605C3C 72%);


  background: var(--bg-gradient-12);
  background-repeat: no-repeat;
  background-size: var(--size);
  background-attachment: fixed;
  background-position: center;

  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


	html {
		font-family: system-ui, sans-serif;
		
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}



	
</style>
