---
export interface Props {
	title: string;
	favicon: string;
	theme: string;
	background: string;
	size: string;
	analitis: object;
	pixel: string;
}

const { title, favicon, theme, background, size, analitis, pixel } = Astro.props;


---

<!DOCTYPE html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	
				<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon={analitis}></script><!-- End Cloudflare Web Analytics -->
	</head>
	<body>
		<slot />

	</body>
</html>
<style is:global define:vars={{ background, size}}>
:root {
  background: var(--background);
  background-repeat: no-repeat;
  background-size: var(--size);
  background-position: calc(50% - 10px) center
}
@media (min-width: 768px) {
  :root {
    background: var(--background);
  background-repeat: no-repeat;
  background-size: var(--size);
  background-position: right center
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


	html {
		font-family: system-ui, sans-serif;
		
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}



	
</style>
