---
export interface Props {
	title: string;
	favicon: string;
	theme: string;
	background: string;
	size:string;
	analitis:object;
}

const { title, favicon, theme, background, size, analitis} = Astro.props;

---

<!DOCTYPE html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Meta Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '608657684638651');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=608657684638651&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Meta Pixel Code -->
				<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon={analitis}></script><!-- End Cloudflare Web Analytics -->
	</head>
	<body>
		<slot />

	</body>
</html>
<style is:global define:vars={{ background, size}}>
:root {
  background: var(--background);
  background-repeat: no-repeat;
  background-size: var(--size);
  background-attachment: fixed;
  background-position: center;

  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


	html {
		font-family: system-ui, sans-serif;
		
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}



	
</style>
